.box{
    margin:auto;
    margin-top: 10px;
    width: 80%;
    padding-left: 60px;
    display: flex;
   
    
}
.box input{
    width: 80%;
    background-color: whitesmoke;
}
.search{
    width: 100%;
    margin:auto;
    margin-top: 62px;
    height: 80px;
    background-color: brown;
    position: fixed;
}